:root{
    --blanco: #FFFFFF;/*Custom property*/
    --oscuro: #212121;
    --primario: rgba(255,193,7,1);
    --secundario: #0097A7;
    --gris: #757575;
    --grisClaro: #DFE9F3;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
h1{
    font-size: 3.8rem;
}
h2{
    font-size: 2.8rem;
}
h3{
    font-size: 1.8rem;
}
h1,h2,h3{
    text-align: center;
}
body{
    font-size: 16px;
    font-family: 'Krub', sans-serif;
    /* Degradado */
    background-image: linear-gradient(to top,var(--grisClaro) 0%, var(--blanco) 100%);
}
.titulo span{
    font-size: 2rem;
}
.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}
.boton{
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 1rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem;
    width: 90%;
    text-align: center;
}
@media(min-width: 768px) {
     .boton{
         width: auto;
     }
}
.sombra{
    -webkit-box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.54);
    -moz-box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.54);
    box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.54);
    background-color: var(--blanco);
    padding: 2rem;
    border-radius: 1rem;
}
.nav-bg{
    background-color: var(--secundario);
}
.navegacion-principal{
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media(min-width: 768px) {
    .navegacion-principal{
        justify-content: space-between;
        flex-direction: row;
    }
}
.navegacion-principal a{
    display: block;
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem;
}
.navegacion-principal a:hover{
    background-color: var(--primario);
    color: var(--oscuro);
}
.hero{
    /* Carga imagen */
    background-image: url(../img/hero.jpg);
    /* La imagen no se repite */
    background-repeat: no-repeat;
    /* Ocupa todo el tamaño de la pantalla */
    background-size: cover;
    height: 450px;
    /* padding: 20px; */
    position: relative;

    margin-bottom: 2rem;
}

.contenido-hero{
    position: absolute;

    /* Sombreado de Imagen. Mejor poner las 2. Algunos navegadores pueden no entender la actual */
    background-color: rgba(0,0,0,.65);/*Version anterior*/
    background-color: rgb(0 0 0 / 70%);/*Version actual*/
    /* Para que tome todo el espacio */
    /* Modo 1 */
    /* top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px; */
    
    /* Modo 2 */
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;/* Horizontal*/
    justify-content: center;/* Vertical */

}
.contenido-hero h2, 
.contenido-hero p{
    color: var(--blanco);
}
.contenido-hero .ubicacion{
    display: flex;
    /* Al ser el padre flex y column para alinear verticalmente en este caso usamos align-items */
    align-items: flex-end;
}