:root{
    --blanco: #FFFFFF;/*Custom property*/
    --oscuro: #212121;
    --primario: rgba(255,193,7,1);
    --secundario: #0097A7;
    --gris: #757575;
}

html{
    font-size: 62.5%;
}
body{
    font-size: 16px;
    font-family: 'Krub', sans-serif;
}
.titulo{
    text-align: center;
    font-size: 3.8rem;
}
.titulo span{
    font-size: 2rem;
}
.contenedor{
    width: 120rem;
    margin: 0 auto;
}
.nav-bg{
    background-color: var(--secundario);
}
.navegacion-principal{
    justify-content: space-between;
    display: flex;
    padding: 1rem;
}
.navegacion-principal a{
    color: var(--blanco);
    text-decoration: none;
}
