:root{
    --blanco: #FFFFFF;/*Custom property*/
    --oscuro: #212121;
    --primario: rgba(255,193,7,1);
    --secundario: #0097A7;
    --gris: #757575;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body{
    font-size: 16px;
    font-family: 'Krub', sans-serif;
}
.titulo{
    text-align: center;
    font-size: 3.8rem;
}
.titulo span{
    font-size: 2rem;
}
.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}
.nav-bg{
    background-color: var(--secundario);
}
.navegacion-principal{
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media(min-width: 768px) {
    .navegacion-principal{
        justify-content: space-between;
        flex-direction: row;
    }
}
.navegacion-principal a{
    display: block;
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem;
}
.navegacion-principal a:hover{
    background-color: var(--primario);
    color: var(--oscuro);
}
.hero{
    /* Carga imagen */
    background-image: url(../img/hero.jpg);
    /* La imagen no se repite */
    background-repeat: no-repeat;
    /* Ocupa todo el tamaño de la pantalla */
    background-size: cover;
    height: 450px;
    padding: 20px;
}
