desktop.ini
recursos/
Deploy/
3-blog-cafe/finalizado/*
7-Festival-Musica/node_modules/
8-appPeluqueria/node_modules/
8-appPeluqueria/ProyectoFin/
10-AppSalon_fin/node_modules/
bienesraices_inicio/node_modules/