.footer{
    padding: $separacion / 2 0;
    background-color: $gris-oscuro;

    .contenedor-footer{
        padding-top: $separacion / 2;
    }

    .copyright{
        color: $blanco;
        text-align: center;
    }
}