.boletos{
    padding: $separacion 0;
    h3{
        text-align: center;
        color: $blanco;
    }

    .contenedor-boletos{
        margin-top: $separacion / 2;
        @include grid(2, $separacion)
    }

    .plan{
        p{
            color: $blanco;
            font-size: 3rem;
            text-align: center;
            margin-bottom: 2rem;
        }
    }
}