.dark-mode{
    background-color: darken($gris-oscuro, 10);

    p{
        color: $blanco;
    }
    a,h1,h2,h3,h4,blockquote{
        color: $gris;
    }

    .anuncio,
    .resumen-propiedad{
        background-color: $gris-oscuro;
        border: 1px solid $gris-oscuro;

        .precio{
            color: $verde;
        }
        .icono{
            filter: invert(100%);
        }
    }

    .formulario{
        label,
        legend,
        p{
            color: $gris;
        }

        input:not([type="submit"]),
        textarea,
        select{
            background-color: $gris-oscuro;
            border: 1px solid darken($gris-oscuro, 18);
            color: $blanco;
        }
    }
}